@model List<Produkt>

@{
    ViewData["Title"] = "Produkte";
}

<h1>Neues Produkt erstellen</h1>

<form action="Produkt/SaveProdukt" method="post">
    
<table class="table">
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td> <input type = "text" id = "name" name="name"></td>
    </tr>
    <tr>
        <td> Länge</td>
        <td> <input type = "number" id = "laenge" name="laenge"></td>
    </tr>
    <tr>
        <td> Breite</td>
        <td> <input type = "number" id = "breite" name="breite"></td>
    </tr>
    <tr>
        <td> Höhe</td>
        <td> <input type = "number" id = "hoehe" name="hoehe"></td>
    </tr>
    <tr>
        <td> Preis</td>
        <td> <input type = "number" id = "normpreis" name="normpreis"></td>
    </tr>
    <tr>
        <td>
            <a href="/Produkt" class="btn btn-danger">Abbrechen</a>
        </td>
        <td>
            <button class="btn btn-success" type="submit"> Speichern</button>
        </td>
    </tr>
    
    </tbody>
</table>
</form>