@model List<Produkt>

@{
    ViewData["Title"] = "Produkte";
}

<h1>Neues Produkt erstellen</h1>


<table>
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Titel</td>
        <td> <input type = "text" id = "name" name="name"></td>
    </tr>
    <tr>
        <td> Titel</td>
        <td> <input type = "number" id = "laenge" name="laenge"></td>
    </tr>
    <tr>
        <td> Titel</td>
        <td> <input type = "number" id = "breite" name="breite"></td>
    </tr>
    <tr>
        <td> Titel</td>
        <td> <input type = "number" id = "hoehe" name="hoehe"></td>
    </tr>
    <tr>
        <td> Titel</td>
        <td> <input type = "number" id = "normpreis" name="normpreis"></td>
    </tr>
    <tr>
            <td>Titel </td>
            <td>
                <a href="/Burger">Abbrechen</a>
            </td>
            <td>
                <button>Speichern</button>
            </td>
    </tr>
    
    </tbody>
</table>