@model List<Produkt>

@{
    ViewData["Title"] = "Produkte";
}

<h1>Neues Produkt erstellen</h1>


<table>
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Titel</td>
        <td> <input type = "text" id = "name" name="name"></td>
    </tr>
    <tr>
        <td> laenge</td>
        <td> <input type = "number" id = "laenge" name="laenge"></td>
    </tr>
    </tbody>
</table>